body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  background-color: #DAEAF1;
  position: relative;
  padding: 100px;
}

.middle-container {

}

.bottom-container {

}

h1 {
  font-size: 400%;
  font-family: 'Sacramento', cursive;
  margin: 0 auto 0 auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.pro {
  text-decoration: underline;
}

.cloud-1 {
  position: absolute;
  right: 500px;
  top: 30px;
}

.cloud-2 {
  position: absolute;
  left: 500px;
  bottom: 400px;
}
